<style>
 table {
  width: 800px;
  margin: 0 auto 30px;
  border-top: 3px solid #d9d9d9;
  border-bottom: 3px solid #d9d9d9;
 }

 tbody {
  border-bottom: 2px solid #d9d9d9;
 }

 tbody:last-child {
  border-bottom: 0;
 }

 .profile_image {
  border-radius: 50%; /* プロフィール画像の形を丸にする */
  object-fit: cover; /* 中央でトリミング */
  width: 70px;
  height: 70px;
 }

 .user_show {
  cursor: pointer;
 }

 .btn-light {
  color: #212529;
  background-color: #fff;
  border: 2px solid #666666;
 }

 th, td {
  padding: 10px;
 }

 .user {
  width: 210px;
  padding-left: 0px;
  word-break: break-all;
 }

 .follow {
  display: flex;
  align-items: center;
 }

 .introduction {
  width: 300px;
  word-break: break-all;
  font-size: 14px;
 }

 .follow > th > .btn {
  width: 128px;
 }

 .follow > th > p {
  margin-top: 2px;
  display: inline-block;
  padding: 5px 9px;
  background-color: #b7b7b7;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
  margin-bottom: 0;
 }

 .cat {
  border-radius: 50%; /* プロフィール画像の形を丸にする */
  width: 200px;
  height: 200px;
  margin-bottom: 150px;
 }

 .no_user > h3 {
  margin-bottom: 70px;
 }

 /* 991px以下の際に適用される設定 */
 @media screen and (max-width:991px) {
  .user {
   width: 150px;
  }

  .introduction {
   width: 260px;
  }

  table {
   width: 100%;
  }
 }

 /* 767px以下の際に適用される設定 */
 @media screen and (max-width:767px) {
  table {
   width: 510px;
  }

  th, td {
   padding: 10px 5px;
  }

  .user {
   width: 80px;
  }

  .introduction {
   width: 230px;
  }

  .user, .introduction {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
  }

  .follow > th > .btn, .follow > th > p {
   width: 110px;
  }

  .follow > th > .btn {
   font-size: 13px;
  }

  .follow > th > p {
   padding: 3px 5px;
   font-size: 10px;
  }

  .profile_image {
   width: 50px;
   height: 50px;
  }

  .cat {
   margin-bottom: 100px;
  }
 }

 /* 540px以下の際に適用される設定 */
 @media screen and (max-width:540px) {
  table {
   width: 390px;
  }

  table, .pagination {
   font-size: 13px;
  }

  .follow > th > .btn, .follow > th > p {
   width: 110px;
  }

  .user {
   width: 60px;
  }

  .introduction {
   width: 130px;
   font-size: 11px;
  }
 }

 /* スマートフォンサイズ（425px）以下の際に適用される設定 */
 @media screen and (max-width: 425px) {
  table {
   width: 250px;
  }

  .user {
   width: 87px;
   }

  .introduction {
   display: none;
  }

  td {
   padding: 0;
  }

  .follow > th > .btn, .follow > th > p {
   width: 83px;
  }

  .follow > th > .btn {
   font-size: 11px;
  }

  .no_user > h3 {
   font-size: 20px;
   margin-bottom: 40px;
  }
 }
</style>

<% if users.empty? %>
 <div class="no_user" style="text-align: center;">
  <h3>ユーザーはいません</h3>
  <%= image_tag 'no_user.jpg', class: "cat" %>
 </div>
<% else %>
 <table>
  <% users.each do |user| %>
   <tbody style="display:flex; align-items: center;">
    <tr onclick='window.location="<%= user_path(user) %>"' role="link", class="user_show">
     <th>
      <%= image_tag user.get_profile_image(70, 70), class: "profile_image" %>
     </th>

     <th>
      <div class="user">
       <%= user.name %><br />
       <%= user.username %>
      </div>
     </th>

     <td>
      <div class="introduction">
       <%= user.introduction %>
      </div>
     </td>
    </tr>

    <tr class="follow">
     <th>
      <% if user != current_user %>
       <% if current_user.following?(user) %>
        <%= link_to "フォロー中", user_relationships_path(user.id), class: "btn btn-light", method: :delete %>
       <% else %>
        <%= link_to "フォローする", user_relationships_path(user.id), class: "btn", method: :post %>
       <% end %>
      <% end %><br />

      <!-- ユーザーはログイン中ユーザーをフォローしていますか？ -->
      <% if user.following?(current_user) %>
       <p>フォローされています</p>
      <% end %>
     </th>
    </tr>
   </tbody>
  <% end %>
 </table>
<% end %>