<style>
 .profile_image {
   border-radius: 50%; /* プロフィール画像の形を丸にする */
   object-fit: cover; /* 中央でトリミング */
  }

  .user_show {
   cursor: pointer;
  }
</style>

<% if users.exists? %>
 <% users.each do |user| %>
  <table>
   <tbody style="display:flex;">
    <tr onclick='window.location="<%= user_path(user) %>"' role="link", class="user_show">
     <th class="profile_image">
       <%= image_tag user.get_profile_image(70, 70), class: "profile_image" %>
     </th>

     <th>
      <%= user.name %><br />
      <%= user.username %>
     </th>

     <td>
      <%= user.introduction %>
     </td>
    </tr>

    <tr>
     <th>
      <% if user != current_user %>
       <% if current_user.following?(user) %>
        <%= link_to "フォロー中", user_relationships_path(user.id), class: "btn btn-success", method: :delete %>
       <% else %>
        <%= link_to "フォローする", user_relationships_path(user.id), class: "btn btn-primary", method: :post %>
       <% end %>
      <% end %><br />

      <!-- ユーザーはログイン中ユーザーをフォローしていますか？ -->
      <% if user.following?(current_user) %>
       <p>フォローされています</p>
      <% end %>
     </th>
    </tr>
   </tbody>
  </table>
 <% end %>
<% else %>
 <p>ユーザーはいません</p>
<% end %>