<div class="container">
 <div class="row">
  <style>
   .field_with_errors {
    display: contents; /* field_with_errorsによるレイアウト崩れを防ぐ */
   }

   h4 {
    margin: 30px 0 30px 5%;
   }

   .new_post {
    width: 700px;
    margin: 0 auto;
   }

   .text_field {
    width: 60%;
   }

   label {
    width: 140px;
    vertical-align: top;
    padding-left: 10px;
   }

   .field {
    padding: 10px 0;
   }

   .action {
    margin: 20px auto 100px;
    text-align: center;
   }

   .btn {
    border: 2px solid #666666;
    background-color: #999999;
    color: white;
   }

   /* 991px以下の際に適用される設定 */
   @media screen and (max-width: 991px) {
    h4 {
     margin-left: 0;
    }
   }

   /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
   @media screen and (max-width: 768px) {
    .new_post {
     width: 380px;
    }

    label {
     width: 90px;
    }

    .image {
     width: 280px;
    }
   }

   /* スマートフォンサイズ（425px）以下の際に適用される設定 */
   @media screen and (max-width: 425px) {
    .new_post {
     width: 250px;
    }

    label {
     padding-left: 0;
     width: 60px;
    }

    .image {
     width: 180px;
    }

    .text_field {
     width: 70%;
    }
   }
  </style>

  <div class="col-lg-12">
   <h4>
    <span>新規投稿</span>
   </h4>
  </div>

  <div class="col-lg-12">
   <div class="new_post">
    <% if @post_image.errors.any? %>
     <%= @post_image.errors.count %>件のエラーが発生しました
     <ul>
      <% @post_image.errors.full_messages.each do |message| %>
       <li><%= message %></li>
      <% end %>
     </ul>
    <% end %>

    <%= form_with model: @post_image do |f| %>
     <div class="field">
      <%= f.label :image, "画像" %>
      <%= f.file_field :image,　placeholder: "投稿画像", accept: "image/*", class: "image" %>
     </div>

     <div class="field">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, placeholder: "タイトル", class: "text_field" %>
     </div>

     <div class="field">
      <%= f.label :body, "本文" %>
      <%= f.text_area :body, size: "1x8", placeholder: "こちらに本文を記述します", class: "text_field" %>
     </div>

     <div class="action">
      <%= f.submit "投稿する", class: "btn" %>
     </div>
    <% end %>
   </div>
  </div>

 </div>
</div>