<div class="container">
 <div class="row">
  <style>
   textarea {
    width: 50%;
   }
  </style>

  <div class="col-12">
   <h3>新規投稿</h3>
  </div>

  <div class="col-lg-10">
   <%= form_with model: @post_image do |f| %>
    <div class="field">
     <%= f.label :image, "画像" %>
     <%= f.file_field :image,　placeholder: "投稿画像", accept: "image/*" %>
    </div>

    <div class="field">
     <%= f.label :title, "タイトル" %>
     <%= f.text_field :title, placeholder: "タイトル" %>
    </div>

    <div class="field">
     <%= f.label :body, "本文" %>
     <%= f.text_area :body, placeholder: "こちらに本文を記述します" %>
    </div>
    <%= f.submit "投稿する" %>
   <% end %>
  </div>

 </div>
</div>