<div class="container">
 <div class="row">
  <style>
   .field {
    text-align: center;
    position: relative;
    margin: 50px auto;
    background-image: url("<%= asset_path('lace_pink.png') %>");
    width: 650px;
    height: 650px;
    background-size: cover;
    position: relative;
   }

   .text {
    display: inline-block;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 415px;
    height: 165px;
   }

   .material1, .material2, .material3, .material4 {
    position: absolute;
   }

   .material1 {
    width: 250px;
    height: 250px;
    right: -80px;
    bottom: 0px;
   }

   .material2 {
    width: 409px;
    height: 231px;
    top: -70px;
    left: -300px;
   }

   .material3 {
    width: 150px;
    height: 150px;
    top: 60px;
    left: -300px;
   }

   .material4 {
    width: 200px;
    height: 200px;
    left: -230px;
    bottom: 80px;
   }

  </style>

  <div class="col-lg-12">

   <div class="field">
    <div class="text">
     <h1>
      About
     </h1>
     <p>
      Catgraphは「猫の写真だけ」を共有し合うサイトです。<br />
      いつでもどこでも猫さんの写真を、投稿・閲覧可能です。<br />
      日々移り変わる日常の中で、猫さんの写真を通じて、<br />
      少しでも癒しを感じてもらえたら…と思います。
     </p>
    </div>

    <img class="material1" src="<%= asset_path('material1.png') %>" />
    <img class="material2" src="<%= asset_path('material2.png') %>" />
    <img class="material3" src="<%= asset_path('material3.png') %>" />
    <img class="material4" src="<%= asset_path('material4.png') %>" />
    <div class="material4"></div>
    <div class="material5"></div>

   </div>
  </div>
 </div>
</div>