<!--<div class="container">-->
 <!--<div class="row">-->
  <style>
   .field {
    position: relative;
    margin: 50px auto;
    background-image: url("<%= asset_path('lace_pink.png') %>");
    /*width: 50vw;*/
    height: 650px;
    /*width: 650px;*/
    background-size: cover;
    max-width: 100%;
   }

   .text {
    display: inline-block;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 415px;
    height: 165px;
    text-align: center;
    height: 100vh;
    padding-top: 31vh;
   }

   p > img {
    /*width: 100%;*/
    max-width: 100%;
   }

   .material1, .material2, .material3, .material4, .material5 {
    position: absolute;
    overflow: hidden;
   }

   .material1 {
    width: 250px;
    height: 250px;
    right: -80px;
    bottom: 0px;
   }

   .material2 {
    width: 409px;
    height: 231px;
    top: -70px;
    left: -300px;
   }

   .material3 {
    width: 120px;
    height: 120px;
    top: 60px;
    left: -280px;
   }

   .material4 {
    width: 200px;
    height: 200px;
    left: -230px;
    bottom: 80px;
   }

   .material5 {
    width: 200px;
    height: 200px;
    top: 120px;
    right: -250px;
   }

    1200px以下の際に適用される設定
   @media screen and (max-width:1200px) {

   }

  </style>

  <!--<div class="col-12">-->

  <div id="test">
   <div class="field">
    <div class="text">
     <h1>
      About
     </h1>
     <p>
      Catgraphは「猫の写真だけ」を共有し合うサイトです。<br />
      いつでもどこでも猫さんの写真を、投稿・閲覧可能です。<br />
      日々移り変わる日常の中で、猫さんの写真を通じて、<br />
      少しでも癒しを感じてもらえたら…と思います。
     </p>
    </div>
    <div style="overflow: hidden; width: 600px;">
     <p  class="material1">
      <img src="<%= asset_path('material1.png') %>" />
     </p>

      <p class="material2">
       <img src="<%= asset_path('material2.png') %>" />
      </p>

      <p class="material3">
       <img src="<%= asset_path('material3.png') %>" />
      </p>

      <p class="material4">
       <img src="<%= asset_path('material4.png') %>" />
      </p>

      <p class="material5">
       <img src="<%= asset_path('material5.png') %>" />
      </p>
    </div>
   </div>
  </div>



  <!--</div>-->
 <!--</div>-->
<!--</div>-->