<style>
 /* フラッシュメッセージの幅を消す */
 main > p {
  display: none;
 }

 .box {
  margin: 0;
  padding: 0;
  overflow: hidden;
 }

 .box .container {
  width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding: 50px 0 170px;
  z-index: 0;
  }

  img {
   max-width: 100%;
  }

 .box-img01 {
  margin: 0;
  position: absolute;
  width: 409px;
  height: 231px;
  top: 0px;
  left: -350px;
 }

 .box-img02 {
  margin: 0;
  position: absolute;
  width: 120px;
  height: 120px;
  top: 130px;
  left: -350px;
 }

 .box-img03 {
  margin: 0;
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 150px;
  left: -220px;
 }

 .box-img04 {
  margin: 0;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 200px;
  right: -260px;
 }

 .box-img05 {
  margin: 0;
  position: absolute;
  width: 250px;
  height: 250px;
  bottom: 100px;
  right: -70px;
  z-index: 1; /* fieldクラスの上に来るように設定*/
 }

 .field {
  width: 600px;
  height: 600px;
  background-image: url("<%= asset_path('lace_pink.png') %>");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .text {
  width: 420px;
  height: 165px;
  margin: 0 auto;
  text-align: left;
 }

 /* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
 @media screen and (max-width:1024px) {
  .box .container {
   width: 500px;
  }

  .field {
   width: 500px;
   height: 500px;
  }

  .text {
   width: 390px;
  }

  .text h1 {
   font-size: 30px;
  }

  .text p {
   font-size: 15px;
  }
 }

 /* 500px以下の際に適用される設定 */
 @media screen and (max-width:500px) {
  .box .container {
   width: 400px;
  }

  .field {
   width: 400px;
   height: 400px;
  }

  .text {
   width: 340px;
  }

  .text h1 {
   font-size: 25px;
  }

  .text p {
   font-size: 13px;
  }

  .box-img01 {
   display: none;
  }

  .box-img02 {

  }

  .box-img03 {
   position: absolute;
   width: 120px;
   height: 120px;
   bottom: 60px;
   left: 0px;
  }

  .box-img05 {
   position: absolute;
   width: 180px;
   height: 180px;
   bottom: 120px;
   right: -20px;
  }
 }
</style>

<div class="box">
 <div class="container">
  <p class="box-img01" style="visibility: visible;">
   <img src="<%= asset_path('nikukyu.png') %>" />
  </p>

  <p class="box-img02" style="visibility: visible;">
   <img src="<%= asset_path('lace_pink02.png') %>" />
  </p>

  <p class="box-img03">
   <img src="<%= asset_path('coneko.png') %>" />
  </p>

  <p class="box-img04">
   <img src="<%= asset_path('lace_gray.png') %>" />
  </p>

  <p  class="box-img05" style="visibility: visible;">
   <img src="<%= asset_path('cat01.png') %>" />
  </p>

  <div class="field">
   <div class="text">
    <h1>
     About
    </h1>
    <p>
     Catgraphは「猫の写真だけ」を共有し合うサイトです。<br />
     いつでもどこでも猫さんの写真を、投稿・閲覧可能です。<br />
     日々移り変わる日常の中で、猫さんの写真を通じて、<br />
     少しでも癒しを感じてもらえたら…と思います。
    </p>
   </div>
  </div>

 </div>
</div>