<div class="container">
 <div class="row">
  <style>
   .top {
    width: 100%;
    height: 600px;
    background-image: url("<%= asset_path('top.jpg') %>");
    background-size: cover;
    box-shadow: inset 0 0 30px 15px #FFF;
   }

   .top, h4, .index_link {
    margin-top: 20px;
   }

   h4 {
    margin: 40px 15px 30px;
   }

   .post_all {
    margin-left: 15px;
   }

   .text {
    width: 100%;
    height: 100%;
    padding: 25px 0 0 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 10px 15px #FFF;
    font-family: 'Hannotate SC', sans-serif;
   }

   .post_all {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
   }

   .post {
    text-align: left;
    margin: 3px;
   }

   .post_image {
    width: 200px;
    height: 200px;
    object-fit: cover; /* 中央でトリミング */
    display: inline-block;
   }

   .index_link {
    text-align: right;
    padding-right: 20px;
   }

   footer {
    margin-top: 40px;
   }

   /* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
   @media screen and (max-width: 1024px) {
    .post_all {
     width: 420px;
     margin: 0 auto;
    }

    .top {
     margin-bottom: 0;
    }
   }

   /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
   @media screen and (max-width:768px) {
    h5 {
     font-size: 19px;
    }

    .post_all {
     width: 392px;
    }

    .post_image {
     width: 190px;
     height: 190px;
    }
   }

   /* スマートフォンサイズ（425px）以下の際に適用される設定 */
   @media screen and (max-width:425px) {
    .text {
     padding: 30px 20px 20px 30px;
    }

    .post {
     text-align: left;
     margin: 2px;
    }

    .post_all {
     width: 248px;
    }

    .post_image {
     width: 120px;
     height: 120px;
    }

    .top {
     height: 400px;
    }

    h2 {
     font-size: 22px;
    }

    h5 {
     font-size: 15px;
    }
   }

   /* 350px以下の際に適用される設定 */
   @media screen and (max-width:350px) {
    h2 {
     font-size: 18px;
    }

    h5 {
     font-size: 11px;
    }
   }
  </style>

  <div class="col-lg-6">
   <div class="top">
    <div class="text">
     <h2>
      ようこそ！Catgraphへ！<br />
     </h2>
     <h5>
      このサイトは「猫の写真だけ」を<br />
      共有し合うサイトです。<br />
      ゲストユーザーでログインした場合、<br />
      最新投稿を8件まで閲覧可能です。<br />
      投稿や写真のお気に入り登録をするには<br />
      会員登録が必要です。
     </h5>
    </div>
   </div>

  </div>

  <div class="col-lg-6">
   <h4>
    <span>新着投稿</span>
   </h4>

   <div class="post_all">
    <% @post_images.each do |post_image| %>
     <div class="post">
      <% if admin_signed_in? %>
       <%= link_to admin_post_image_path(post_image.id) do %>
        <%= image_tag post_image.image, class: "post_image" %>
       <% end %>
      <% elsif user_signed_in? %>
       <%= link_to post_image_path(post_image.id) do %>
        <%= image_tag post_image.image, class: "post_image" %>
       <% end %>
      <% else %>
       <%= image_tag post_image.image, class: "post_image" %>
      <% end %>
     </div>
    <% end %>
   </div>

   <div class="index_link">
    <% if admin_signed_in? %>
     <%= link_to "全ての投稿を見る >", admin_top_path %>
    <% elsif user_signed_in? %>
     <%= link_to "全ての投稿を見る >", post_images_path %>
    <% else %>
    <% end %>
   </div>
  </div>
 </div>
</div>