<div class="container">
 <div class="row">
  <style>
   .post_image {
    width: 600px;
    height: 600px;
    object-fit: contain; /* ボックスに収まるようにリサイズする */
    margin: 30px 0 50px;
    filter: drop-shadow(10px 10px 10px #aaa); /* 影をつける */
   }

   .field .profile_image {
    width: 50px;
    height: 50px;
   }

   .profile_image {
    border-radius: 50%; /* プロフィール画像の形を丸にする */
    margin-right: 5px;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
   }

   .text {
    width: 400px;
    height: 600px;
    overflow: scroll;
    margin: 30px 0 50px;
   }

   .text .field, .comment .field {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   }

   .count {
    display: flex;
    margin-bottom: 20px;
   }

   p {
    margin-bottom: 10px;
   }

   .all_comment {
    border-top: 3px solid #d9d9d9;
    border-bottom: 3px solid #d9d9d9;
   }

   .comment {
    padding: 15px 10px;
    border-bottom: 2px solid #d9d9d9;
   }

   .comment:last-child {
    border-bottom: 0;
   }

   .post_time {
    display: inline-block;
    margin-top: 10px;
   }

   /* 1200px以下の際に適用される設定 */
   @media screen and (max-width: 1200px) {
    .post_image, .text {
     width: 90%;
     height: 90%;
     display: inline-block;
     text-align: left;
    }

    .col-lg-5, .image {
     text-align: center;
     position: relative;
    }
   }
</style>

  <div class="col-lg-7">
   <div class="image">
    <%= image_tag @post_image.image, class: "post_image" %>
   </div>
  </div>

  <div class="col-lg-5">
   <div class="text">
    <div class="field" style="margin-bottom: 20px;">
     <%= link_to admin_user_path(@user) do %>
      <%= image_tag @user.get_profile_image(50,50), class: "profile_image" %>
      <%= @user.name %>
     <% end %>
    </div>



    <div class="field">
     <p>タイトル：<%= @post_image.title %></p>
     <!-- text_areaに入力されたまま出力する -->
     <p style="margin-bottom: 60px;">本文：<%= safe_join(@post_image.body.split("\n"),tag(:br)) %></p>

     <div class="post_time" style="margin-bottom: 25px;"><%= l @post_image.created_at %></div>
      <div class="actions" style="float: right;">
      <%= link_to "削除", admin_post_image_path(@post_image), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn" %>
     </div>

     <div class="count">
      <p style="margin-right: 70px;">♡<%= @post_image.favorites.count %> いいね</p>
      <p>コメント件数：<%= @post_image.post_comments.count %></p>
     </div>
    </div>

    <% if @post_image.post_comments.empty? %>
    <% else %>
     <div class="all_comment">
      <% @post_image.post_comments.each do |post_comment| %>
       <div class="comment">
        <div class="field">
         <%= link_to admin_user_path(post_comment.user.id) do %>
          <%= image_tag post_comment.user.get_profile_image(40,40), class: "profile_image" %>
          <%= post_comment.user.name %>
         <% end %>
        </div>
        <%= safe_join(post_comment.comment.split("\n"),tag(:br)) %><br />
        <div class="post_time">
         <%= l post_comment.created_at %>
        </div>
        <div style="float: right;">
         <%= link_to "削除", admin_post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete, class: "btn" %><br />
        </div>
       </div>
      <% end %>
     </div>
    <% end %>

   </div>

  </div>
 </div>
</div>