<div class="container">
 <div class="row">
  <style>
   .profile_image {
    border-radius: 50%; /* プロフィール画像の形を丸にする */
    object-fit: cover; /* 中央でトリミング */
    width: 70px;
    height: 70px;
   }

   .pagination {
    margin-bottom: 30px;
   }

   h4 > span {
    padding-left: 10%;
   }

   table {
    width: 800px;
    margin: 0 auto 30px;
    border-bottom: 3px solid #d9d9d9;
   }

   td, th {
    padding: 10px;
    word-break: break-all;
   }

   .name, .email {
    width: 200px;
   }

   .id, .status {
    width: 100px;
   }

   thead {
    border-top: 3px solid #d9d9d9;
    border-bottom: 3px solid #d9d9d9;
   }

   td {
    border-bottom: 2px solid #d9d9d9;
   }

   /* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
   @media screen and (max-width: 1024px) {
    table {
     width: 100%;
    }
   }

  </style>

  <div class="col-lg-12">
   <h4 style="margin: 30px 0;">
    <span>ユーザー一覧</span>
   </h4>

   <table>
    <thead>
     <tr>
      <th class="id" style="padding-left: 20px;">ユーザーID</th>
      <th>名前</th>
      <th class="name"></th>
      <th class="email">メールアドレス</th>
      <th class="status" style="padding-right: 20px;">ステータス</th>
     </tr>
    </thead>

    <% @users.each do |user| %>
    <tbody>
     <tr>
      <td style="padding-left: 20px;">
       <%= user.id %>
      </td>

      <td style="padding-right: 10px; width: 70px;">
       <%= link_to admin_user_path(user) do %>
        <%= image_tag user.get_profile_image(70,70), class: "profile_image" %>
       <% end %>
      </td>

      <td style="padding-left: 0px;">
       <%= link_to admin_user_path(user) do %>
        <%= user.name %><br />
        <%= user.username %>
       <% end %>
      </td>

      <td>
       <%= user.email %>
      </td>

      <td>
       <!-- ユーザーのステータスは有効(false)ですか -->
       <% if user.is_deleted == false %>
        <div style="color: #28a745; font-weight: bold; padding-right: 20px;">
         有効
        </div>
       <% else %>
        <div style="font-weight: bold; padding-right: 20px;">
         退会
        </div>
       <% end %>
      </td>
     </tr>
    </tbody>
    <% end %>
   </table>
   <%= paginate @users %>
  </div>



 </div>
</div>