<div class="container">
 <div class="row">
  <style>
   .profile_image {
    border-radius: 50%; /* プロフィール画像の形を丸にする */
    object-fit: cover; /* 中央でトリミング */
    width: 150px;
    height: 150px;
   }

   .profile {
    display: flex;
    margin: 20px 0 40px;
    padding-left: 20px;
   }

   th, td {
    border-bottom: 2px solid #d9d9d9;
    word-break: break-all;
   }

   th {
    width: 160px;
    padding: 10px 10px 10px 20px;
   }

   td {
    padding: 10px 20px 10px 0;
   }

   table {
    border-top: 3px solid #d9d9d9;
    border-bottom: 3px solid #d9d9d9;
    margin: 0 30px 50px 0;
    width: 100%;
   }

   h4 {
    margin: 30px 0 20px;
    width: 500px;
   }

   .actions {
    width: 130px;
    margin-top: 65px;
   }

   .btn {
    width: 128px;
   }

   .profile .field {
    margin-right: 100px;
   }

   /* 1200px以下の際に適用される設定 */
   @media screen and (max-width: 1199px) {
    h4 {
     margin: 30px auto 10px;
    }

    h4, .profile, .info {
     width: 630px;
     margin: 20px auto 40px;
    }

    table {
     margin-right: 0;
    }
   }

   /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
   @media screen and (max-width:768px) {
    h4, .profile, .info {
     width: 100%;
    }
   }

   /* スマートフォンサイズ（425px）以下の際に適用される設定 */
   @media screen and (max-width:425px) {
    th, td {
     display: block;
     width: 100%;
     padding: 10px 20px;
    }

    th {
     background-color: #d9d9d9;
    }

    .profile .field {
     margin: 0;
    }

    .profile_image {
     width: 100px;
     height: 100px;
    }

    .actions {
     margin-top: 20px;
    }

    .btn {
     width: 105px;
    }
   }
  </style>

  <div class="col-xl-12">
   <h4>
    <span>
     <%= @user.name %>さんのユーザー詳細
     </span>
   </h4>
  </div>

  <div class="col-xl-5 col-lg-12">
   <div class="profile">
    <div class="field">
     プロフィール写真<br />
     <div class="actions">
      <%= link_to "編集する", edit_admin_user_path(@user), class: "btn" %>
     </div>
    </div>
    <%= image_tag @user.get_profile_image(150, 150), class: "profile_image" %><br />
   </div>

   <div class="info">
    <table>
     <tbody>
      <tr>
       <th>ユーザーID</th>
       <td><%= @user.id %></td>
      </tr>

      <tr>
       <th>名前</th>
       <td><%= @user.name %></td>
      </tr>

      <tr>
       <th>ユーザー名</th>
       <td><%= @user.username %></td>
      </tr>

      <tr>
       <th>自己紹介</th>
       <td style="border-bottom: none;">
        <!-- 自己紹介の値は存在しないですか？ -->
        <% if @user.introduction.nil? %>
        <% else %>
         <%= safe_join(@user.introduction.split("\n"),tag(:br)) %>
        <% end %>
       </td>
      </tr>

      <tr>
       <th>メールアドレス</th>
       <td><%= @user.email %></td>
      </tr>

      <tr>
       <th>ステータス</th>
       <!-- ユーザーのステータスはfalse（有効）ですか -->
       <% if @user.is_deleted == false %>
        <td style="color: #28a745; font-weight: bold; border-bottom: none;">
         有効
        </td>
       <% else %>
        <td style="font-weight: bold; border-bottom: none;">
         退会
        </td>
       <% end %>
      </tr>
     </tbody>
    </table>
   </div>
  </div>

  <%= render 'public/users/list', post_images: @post_images %>
 </div>
</div>