<div class="container">
 <div class="row">
  <style>
   .profile_image {
    border-radius: 50%; /* プロフィール画像の形を丸にする */
    object-fit: cover; /* 中央でトリミング */
    width: 150px;
    height: 150px;
   }

   .profile {
    display: flex;
    margin: 20px 0 40px;
    padding-left: 20px;
   }

   th, td {
    border-bottom: 2px solid #d9d9d9;
   }

   th {
    width: 160px;
    padding: 0 10px 0 20px;
   }

   td {
    padding: 10px 0;
    padding-right: 20px;
   }

   table {
    border-top: 3px solid #d9d9d9;
    border-bottom: 3px solid #d9d9d9;
    margin: 0 30px 50px 0;
   }

   h4 {
    margin: 30px 0 20px
   }

   .btn {
    width: 128px;
   }

   /* 1200px以下の際に適用される設定 */
   @media screen and (max-width: 1200px) {
    h4 {
     width: 630px;
     margin: 30px auto 10px;
    }

    .profile, .info {
     width: 630px;
     margin: 20px auto 40px;
    }

    table {
     margin-right: 0;
    }
   }

   /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
   @media screen and (max-width:768px) {
    h4 {
     width: 390px;
    }

    .profile, .info {
     width: 390px;
    }
   }
  </style>

  <div class="col-xl-12">
   <h4>
    <span>
     <%= @user.name %>さんのユーザー詳細
     </span>
   </h4>
  </div>

  <div class="col-xl-5 col-lg-12">
   <div class="profile">
    <div style="margin: 20px 70px 0 0;">
     プロフィール写真<br />
     <div style="margin-top: 65px; width: 130px;">
      <%= link_to "編集する", edit_admin_user_path(@user), class: "btn" %>
     </div>
    </div>
    <%= image_tag @user.get_profile_image(150, 150), class: "profile_image" %><br />
   </div>

   <div class="info">
    <table>
     <tbody>
      <tr>
       <th>ユーザーID</th>
       <td><%= @user.id %></td>
      </tr>

      <tr>
       <th>名前</th>
       <td><%= @user.name %></td>
      </tr>

      <tr>
       <th>ユーザー名</th>
       <td><%= @user.username %></td>
      </tr>

      <tr>
       <th>自己紹介</th>
       <td><%= @user.introduction %></td>
      </tr>

      <tr>
       <th>メールアドレス</th>
       <td><%= @user.email %></td>
      </tr>

      <tr>
       <th>ステータス</th>
       <!-- ユーザーのステータスはactive（有効）ですか -->
       <% if @user.is_deleted == "active" %>
        <td style="color: #28a745; font-weight: bold;">
         <%= @user.is_deleted_i18n %>
        </td>
       <% else %>
        <td style="font-weight: bold;">
         <%= @user.is_deleted_i18n %>
        </td>
       <% end %>
      </tr>
     </tbody>
    </table>
   </div>
  </div>

  <%= render 'public/users/show', post_images: @post_images %>
 </div>
</div>