<div class="container">
 <div class="row">
  <style>
   .profile_image {
    border-radius: 50%; /* プロフィール画像の形を丸にする */
    object-fit: cover; /* 中央でトリミング */
    width: 100px;
    height: 100px;
   }

   .post_image {
    width: 200px;
    height: 200px;
    object-fit: cover; /* 中央でトリミング */
   }

   .pagination {
    justify-content: center;
   }
  </style>

  <div class="col-lg-12">
   <h3>
    <span>
     <% if @user == current_user %>
      マイページ
     <% else %>
      <%= @user.name %>さんのユーザー詳細
     <% end %>
     </span>
   </h3>
  </div>

  <div class="col-lg-5">
   <div class="profile">
    プロフィール写真
    <%= image_tag @user.get_profile_image(100, 100), class: "profile_image" %><br />
    <!-- ユーザー＝ログインユーザーの場合、編集ボタンを表示する -->
    <% if @user == current_user %>
     <!-- ログインユーザーの名前が「ゲスト」の場合、編集ボタンは表示しない -->
     <% if current_user.name != "ゲスト" %>
      <%= link_to "編集する", edit_user_path(@user), class: "btn btn-success" %>
     <% end %>
    <% end %>

    <% if @user != current_user %>
     <% if current_user.following?(@user) %>
      <%= link_to "フォロー中", user_relationships_path(@user.id), class: "btn btn-success", method: :delete %>
     <% else %>
      <%= link_to "フォローする", user_relationships_path(@user.id), class: "btn btn-primary", method: :post %>
     <% end %>
    <% end %>

    <!-- ユーザーはログイン中ユーザーをフォローしていますか？ -->
    <% if @user.following?(current_user) %>
     <p>フォローされています</p>
    <% end %>
   </div>

   <div class="info">
    <!-- ログインユーザーの名前が「ゲスト」の場合、編集ボタンは表示しない -->
    <% if current_user.name != "ゲスト" %>
     <%= @post_images.count %>投稿
     <!-- フォロワー一覧リンク -->
     <%= link_to user_followers_path(@user) do %>
      <%= @user.followers.count %>フォロワー
     <% end %>
     <!-- フォロー中一覧リンク -->
     <%= link_to user_followings_path(@user) do %>
      <%= @user.followings.count %>フォロー中
     <% end %>
    <% end %>
    <table>
     <tbody>
      <tr>
       <th>名前</th>
       <td><%= @user.name %></td>
      </tr>

      <tr>
       <th>ユーザー名</th>
       <td><%= @user.username %></td>
      </tr>

      <tr>
       <th>自己紹介</th>
       <td><%= @user.introduction %></td>
      </tr>

     </tbody>
    </table>
   </div>
  </div>

  <div class="col-lg-7">
   <!-- post_imageが無い場合 -->
   <% if @post_images.empty? %>
    <h3>投稿がありません</h3>
   <!-- post_imageがある場合 -->
   <% else %>
    <% @post_images.each do |post_image| %>
     <div class="post_images" style="display: inline-block;">
      <%= link_to post_image_path(post_image.id) do %>
       <%= image_tag post_image.image, class: "post_image" %>
      <% end %>
     </div>
    <% end %>
    <%= paginate @post_images %>
   <% end %>

  </div>

 </div>
</div>